:root {
  --primary-color: rgb(255, 39, 126);
  --primary-color-500: rgba(255, 39, 126, 0.5);
  --font-size-xs: 0.7rem;
  --font-size-s: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
}

body {
  padding: 1rem;
}

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */